<div class="card m-5 p-5">
<h1>New restaurant</h1>

<%= render "form", restaurant: @restaurant %>

<br>

<div class="btn btn-danger">
  <%= link_to "Back to restaurants", restaurants_path, class: "link_to" %>
</div>

</div>
